/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
    body {
   
    }
    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }
    
    
    
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
body {
  justify-content: center;
  display:flex;
  /* background-image: url("/static/img/curls.png"); */
  background-repeat: repeat;
}

header h1 {
    text-align: center;
}

.wrapper {
  max-width:900px;
  width:900px;
}
#camera {
  display: block;
  background-color: #eee;
  width: 250px;
  height: 300px;
  margin: 0px;
}
#camera .placeholder {
  padding: 0.5em;
}

#snapshot {
    display: block;
    background-color: #eee;
    width: 400px;
    margin: 0.5em;
}
#snapshot canvas{
    width: 250px;
    height: 300px;
}
#snap-container{
    position:relative;
    display: flex;
    justify-content: center;
}
#snap-container canvas {
    margin-left:auto;
    margin-right:auto;
}
.emotion-dash{
    display: flex;
    justify-content: space-around;
    flex-direction:row;
}

.emotion{
    text-align: center;
}
.emotion-bars {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
}
.emotion-bars div {
    width: 40px;
    background-color: #5cb85c!important;
    align-self: flex-end;
}

.emotion-labels {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
}

.emotion-labels div{
    width:60px;
    font-size: small;
    text-align: center;
}
#buttonpane{
    display: flex;
}
.uploadbutton{
    align-self: center;
    padding:10px;
    background-color: #5cb85c!important;
    color: white;
    width:100%;
    margin-top:5px;
}

footer{
    text-align: center;
    margin-top: 120px;
    clear: both;
}

/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}
